body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.textHeader {
    margin-left: 100px;
    margin-top: 130px;
}

.text1 {
    font-size: 54px;
    font-weight: 600;
}

.text2 {
    font-size: 54px;
    color: #2395FF;
    font-weight: 600;
}

.headerlanding{
    display: flex;
    width: 100%;
}
.headerLeft{
    width: 50%;
}
.headerRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.headerlanding .headerRight .vector1 {
    width: 190px;
    height: 210px;
    margin-top: 15%;
    margin-left: -5%;
   margin-right: 30%;
}

.imgLeft {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: 90px;
    width: 100%;
}

.imgRight {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 30px;
    width: 60%;
    justify-content: end;
}
.srcbox{
    width: 30%;
    /* height: 100%; */
    position: absolute;
    background-color: white;
    border-radius: 20px;
    margin: -55% 0 0 47%;
    padding: 40px;
    box-shadow: 0px 8px 27px 0px #0E3F6C30;
}
.srcbox .hey{
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}
.srcbox .where{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}
.srcbox .recent{
    display: flex;
}
.srcbox .recent .txt{
    width: 50%;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}
.srcbox .recent p{
    text-align: end;
    color: #2395FF;
    width: 50%;
    font-size: 2rem;
}
.srcbox .countryselect{
    height: 15%;
    left: 766px;
    top: 372px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 8px 27px 0px #0E3F6C30;
}
.srcbox .countryselect .input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.srcbox .countryselect input{
    border: none;
    width: 100px;
}
.srcbox .countryselect .city{
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
}
.srcbox .countryselect .input .txt{
    width: 100%;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #979797;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
#in2 .txt{
    justify-content: flex-end;
}
#in2{
    align-items: flex-end;
}
#in2 input{
  text-align: end;
}
.srcbox .countryselect img{
    width: 10%;
}
.srcbox .btnbox{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 7%;
}
.srcbox .btnbox .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #2395FF;
    height: 100%;
    width: 40%;
    left: 766px;
    top: 492px;
    border-radius: 6px;
    margin-right: 10%;
}
.srcbox .btnbox .btn:hover{
    border: 2px solid rgb(77, 75, 75);
}
.srcbox .btnbox .btn p{
    margin: 0;
    margin-left: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: white;
}
/*  */
@media screen and (min-width: 1900px) {
    .textHeader {
        margin-left: 100px;
        margin-top: 130px;
    }
    .srcbox{
        margin: -50% 0 0 47%;
    }
    .srcbox .btnbox .btn p{
        font-size: 20px;
    }
    .person{
        height: 15%;
     }
     .personinput{
         height: 30% !important;
     }
     .srcbox p{
         font-size: 25px;
     }
     .srcbox .class .classbox .checkbox p{
        font-size: 25px !important;
    }
    .srcbox .departure .accordion-button p{
        font-family: Lato;
        font-size: 1.5rem !important;
        font-style: normal;
        margin: 0;
    }
    .srcbox .btnflight .searchflight p{
        font-family: Poppins;
        font-size: 30px !important;
        font-style: normal;
        font-weight: 500 !important;
        color: white;
    }
    .srcbox .btnflight .searchflight{
        height: 90px;
    }
}
/*  */

#btn2{
    width: 50%;
    margin: 0;
    background-color: #F0F0F0;
}
#btn2:hover{
    border: 2px solid gray;
}
#btn2 p{
    color: #595959;
}
.srcbox p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color: #6B6B6B;
    margin: 10px 0 10px 0;
}
.departure{
    height: 15%;
    margin-top: 5%;
}
.srcbox .departure .item{
    border-radius: 6px;
}
.srcbox .departure .accordion-button p{
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}
.srcbox .departure .accordion-body{
    position: absolute;
    margin-left: -19px;
}

.srcbox .person .personinput{
    display: flex;
    justify-content: flex-start;
    height: 20%;
}
.srcbox .person .personinput .inputbox{
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    width: 45%;
    margin-right: 10%;
    padding: 5px;
    background-color: white;
    border: 1px solid #DDDDDD;
}
.srcbox .person .personinput .inputbox input{
    width: 80%;
    border: none;
}
.srcbox .person .personinput .inputbox img{
    width: 12px;
    height: 12px;
}
#box2{
    margin: 0;
}
.srcbox .class .classbox{
    display: flex;
}
.srcbox .class .classbox .checkbox{
    display: flex;
    margin-right: 10px;
    width: 30%;
    align-items: center;
}
.srcbox .class .classbox .checkbox p{
    margin: 0;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #000;
}
.srcbox .class .classbox .checkbox .check{
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.srcbox .btnflight{
    width: 100%;
    padding: 10px 0 0 0;
}
.srcbox .btnflight .searchflight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #2395FF4D;
    background-color: #2395FF;
}
.srcbox .btnflight .searchflight:hover{
    border: 2px solid rgb(77, 75, 75)
}
.srcbox .btnflight .searchflight p{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.trending {
    margin-top: 175px;

}

.cardTrending {
    justify-content: center;
}

.trendText1 {
    color: #2395FF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3em;
}

.trendText2 {
    font-size: 24px;
    font-weight: 600;
}

.trendText3 {
    font-size: 16px;
    color: #2395FF;
    font-weight: 600;
    text-align: end;
}

.card {
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
    margin-left: 10px;
}

.imgTrending {
    border-radius: 20px;
    height: 262px;
    object-fit: cover;
    padding: 0%;

}

.card-img-overlay {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.destCard{
    justify-content: center;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.topDestination {
    margin-top: 100px;
    border-radius: 20px;
    background-color: #2395FF;
    background-image: url('https://github.com/aliefabdussalam/learn-html1/blob/master/vector%203.png?raw=true');
}

.topDestText {
    font-size: 14px;
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;
    padding-top: 60px;
}

.topDestText2 {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.destText {
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 25px;
}

.imgdest {
    width: 120px;
    height: 120px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
    object-position: center;
}

.destbtn {
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 35px;
}

.back {
    border-style: solid;
    border: white;
}

.next {
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .headerlanding{
        display: none;
    }
    .srcbox{
        width: 90%;
        position: unset;
        background-color: white;
        border-radius: 20px;
        margin: 10% 0 0 5%;
        padding: 40px;
        box-shadow: 0px 8px 27px 0px #0E3F6C30;
    }
    .srcbox .recent .txt{
        font-size: 14px;
        text-align: start;
    }
    .srcbox .btnbox .btn p{
        font-size: 11px;
    }
    .srcbox .class .classbox .checkbox{
        margin-top: 10px;
    }
    #cb3{
        margin-right: 0;
    }
    .srcbox .class .classbox .checkbox p{
        font-size: 11px;
    }
    .trending {
        border-right: none !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .trending .cardTrending {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .cardtrendingBody{
        min-width:fit-content;
    }

    .topDestination {
        width: 100%;
        margin-left: 0px;
    }

    .topDestination .destCard {
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        width: 100%;
    }

    .destCard .destcardBody{
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 20px;
        
    }
    .destCard .destcardBody .destImage {
        width: 100px;
        height: 100px;
    }
    .destCard .destcardBody .destImage img:hover{
        border: 5px solid white;
    }
}