@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    border-bottom: 2px solid #eeeeee;
    margin: 0;
    padding: 0;
    height: 150px;
}
.bar{
    background-color: transparent;
    border: none;
}

.planelogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition-duration: 50ms;
    margin-left: 5%;
}
.planelogo:hover{
    font-weight: 600;
    transform: scale(1.1);
}
.planelogo img{
    height: 33px;
    width: 50px;
    margin-right: 15px;
}
.planelogo h1{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    color: black !important;
}
.navmenu{
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}
.primary-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 70%;
}
.primary-menu .menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 50px;
    padding-left: 10px;
}
.primary-menu .menu .menu1{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: #414141;
    text-decoration: none;
    margin-left: 40px;
    height: 35px;
}
.primary-menu .menu .menu1:hover{
    color: #4f5665;
    font-weight: 700;
}
.primary-menu .menu .menu1:hover::after{
    content: '';
    border-radius: 20px;
    display: block;
    border-bottom: solid 5px #2395FF;
    width: 50%;
    margin: 8px auto 0 auto;
}
.primary-menu .searchbox{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 50px;
}
.primary-menu .searchbox .search{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    background-color: #F5F5F5;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
}
.primary-menu .searchbox .search input{
    border: none;
    background-color: #F5F5F5;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    background-color: transparent;
}
.primary-menu .searchbox .search .srch{
    height: 24px;
    width: 24px;
}
.secondary-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
}
.secondary-menu .type1{
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 50ms;
    width: 100px;
    height: 50px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #2395FF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-decoration: none;
}
.secondary-menu .type1:hover{
    transform: scale(1.1);
}
.secondary-menu .type2{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition-duration: 50ms;
    cursor: pointer;
}
.secondary-menu .type2:hover{
    border-bottom: solid 4px #2395FF;
}
#tp2{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 2px solid;
    border: solid 2px #00B7DF;
    padding: 2px;
    margin-right: 0;
    margin-top: 0;
}
.secondary-menu .type2 .round{
    height: 10px;
    width: 10px;
    position: absolute;
    margin-left: 13px;
    margin-bottom: 17px;
    border-radius: 50px;
    background-color: #2395FF;
}
#r1{
    margin-left: 17px;
}
.secondary-menu .type2 .mail{
    height: 20px;
    width: 24px;
    margin-top: 3px;
}
.secondary-menu .type2 .bell{
    height: 23px;
    width: 21px;
    margin-top: 2px;
    border-radius: 0px;
}
.secondary-menu .type2 .profile{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
@media  screen and (max-width: 768px) {
    /* landingpage */
    .navbar{
        border-bottom: 2px solid #eeeeee;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .navbar .container-fluid{
        margin: 0;
        padding: 0;
    }
    .bar{
        height: 90px;
        margin-right: 5%;
    }
    .bar .baricon{
        color: #6a4029 !important;
    }
    .planelogo{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition-duration: 50ms;
    }
    .planelogo:hover{
        font-weight: 600;
        transform: scale(1.1);
    }
    .planelogo img{
        margin-right: 15px;
    }
    .planelogo h1{
        margin-top: 10px;
    }
    .navbar .navmenu{
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: white;
    }
    .navbar .navmenu .primary-menu{
        list-style-type: none;
        margin-left: 0;
        width: 100%;
        display: flex;
        padding-top: 5px;
    }
    .navbar .navmenu .primary-menu .menu{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    .navbar .navmenu .primary-menu .menu .menu1{
        font-size: 13px;
        font-weight: 400;
        color: #4f5665;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 18px;
        margin-left: 0;
        margin-right: 40px;
        margin: 18px 40px 10px 0;
        height: 30px;
    }
    #m1{
        margin-right: 0;
    }
    .primary-menu .searchbox{
        width: 100%;
        justify-content: center;
    }
    .navbar .navmenu .secondary-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navbar .navmenu .secondary-menu .type1{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 600;
        width: 75%;
        height: 40px;
    }
    .secondary-menu .type2{
        margin-top: 0;
    }
}
